.night h1 {
   color: red;
}

.night p span{
    color: red;
}
.night h2{
    color: blue;
 }
 .night p{
    color: blue;
 }
 .night {
     background-color: black;
 }
 span{
    color: blue;
    
 }

 img {
    width: 30%;
 }
 
 
